
<% if @current_user %>

  <h1><%= @place["name"] %></h1>

  <p>
  <a class="btn btn-primary" href="/posts/new?place_id= <%=@place["id"]%>" role="button">New Post</a>
  </p>

  <h3>My Posts</h3>


  <div class="row mt-3">
    <% for post in @posts %>
      <div class="col-md-4 col-sm-6 text-center">
        <h5><%= post["title"] %></h5>
        <% if post.uploaded_image.attached? %>
          <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= post["image"] %>" class="img-fluid">
        <% end %>

        <p><%= post["posted_on"] %></p>
        <p><%= post["description"] %></p>
      </div>
    <% end %>
  </div>


  <p>
    <a href="/places">Back to All Places</a>
  </p>


<% end %>

